.rs-table {
    /* table-layout设置为fixed也是实现table不超越父元素界限的关键之一*/
    table-layout: fixed;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 2.7px;
    margin-bottom: 2.7px;
    background-color: #204B56;
}

#thin-padding {
    background-color: #1C1F28;
    padding-left: 4px;
    padding-right: 4px;
}

.blob-num {
    width: 3%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgb(221, 215, 163);
    /*color: rgba(27, 31, 35, 0.3);*/
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}

.code-inner {
    /*想要隐藏过长的行，可以给table设置width=800类似的定宽*/
    /*这两者组合是关键之一*/
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    width: 100%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    color: rgb(181, 194, 217);
}

.code-scroll {
    overflow: auto;
}

.theme-keyword {
    color: #db3d80;
    /*color: red;*/
    font-weight: normal;
}

/*用于存储 分词 后的 关键词，客户端 关键词着色 时js取用,设置为不显示*/
#keywords {
    display: none;
}
